*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(226 ,227, 255);
}
.title{
  display: inline-flex;
  /*margin-bottom: 10px;*/
  margin-left: 10px;
  position: absolute;
}
#titlewebsite{
  color: rgb(48, 77, 47);
  padding-top: 10px;
  text-transform: uppercase;
}
.wrapper{
  width: 90%;
  margin: auto;
}
#logo{
  width: 80px;
  height: 75px;
  margin-top: 8px;
}

.navigation{
  height: 120px;
  background-color: rgb(226 ,227, 255);
}
.menu{
  display: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a{
  text-decoration: none;

}
main img{
  display: block;
  width: 100%;
}
.bigbox{
  margin-bottom: 1rem;
}
.flexbox1{
  background-image: url(img/wer-bin-ich.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  /*margin-top: 1rem;*/
}

.flexbox1, .flex-item{
  height: 400px;
  box-shadow: 0px 0px 22px 10px rgba(156, 178, 148, 0.50);
}
.flexiboxi a:hover{
  background-image: url(img/wer-bin-ich-hover.jpg) center center no-repeat;
  width: 100%;
}
.klein{
  background-size: cover;
  background-position: center;
  display: flex;
}
.flex-item:nth-child(1){
  background-image: url(img/method.jpg);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.flex-item:nth-child(2){
  background-image: url(img/dritte.jpg);
  margin-top: 0.5rem;
}
.flexiboxi{
  display: flex;
}
.textbox{
  size:10rem;
  color: #fff;
  margin: auto;
  text-align: center;
  text-shadow:2px 2px 5px rgba(0, 0, 0, 1);
  display:flex;
}
.textbox{
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  margin: auto;
  text-align: center;
  text-shadow:2px 2px 5px rgba(0, 0, 0, 1);
  display:flex;
  text-decoration: none;
}
.flexbox1 a{
  margin-left: 360px;
}


footer{
  height: 80px;
  background-color: rgb(226 ,227, 255);
}
footer a{
  text-decoration: none;
  color: rgb(48, 77, 47);
  float: right;
  padding: 10px;
  margin-right: 60px;
  margin-top: 30px;
  display: flex;
}

@media (min-width:1024px) {
  .menu{
    display: block;
    float: right;
    margin-top: 34px;
    margin-right: 30px;
  }
  nav li{
    display: inline;
    margin-top: 10px;
  }
  nav a{
    padding: 1.5rem;
    color: rgb(48, 77, 47);
    text-transform: uppercase;
    margin-top: 25px;
    transition: 0.8s;
  }
  nav a:hover{
    background-color: rgb(156, 178, 148);
    color: #FFF;
    border-radius: 4px;
  }
  .bigbox{
  display: flex;
  margin-top: 1rem;
  /*height: 500px;*/
  }

  .flexbox1{
    width: 60%;
    margin-right: 1rem;
  }

  .flexbox2 {
      width: 40%;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;
      }

  .flex-item:nth-child(1) {
      order: 0;
      flex: 1 1 auto;
      align-self: stretch;
      justify-content: flex-start;
      margin-bottom: 0.5rem;
      margin-top: 0;
    }

  .flex-item:nth-child(2) {
      order: 0;
      flex: 1 1 auto;
      align-self: stretch;
      justify-content: flex-start;
      margin-top: 0.5rem;
      }
  .flexbox1, .flexbox2{
      height: 600px;
    }
}


  /*.flexbox2{
    width: 40%;
    /*position: relative;
    flex-direction: column;
  }
  .flexbox2:first-child{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: stretch;
    height: 50%;
    margin-bottom: 0.5rem;
    flex: 1 1 auto;
  }
  .flexbox2:last-child{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: stretch;
    height: 50%;
    margin-top: 0.5rem;
    flex: 1 1 auto;
  }*/
